body {
    background-color: whitesmoke;
}

#sharedownhead {
    z-index: 99;
}

.text-lightblack {
    color: #322f2f!important;
}

.logo-top-arrow {
    right: 13px;
    top: 12px;
}

.logo-center-arrow {
    right: -5px;
    top: 36px;
}

.logo-bottom-arrow {
    right: 13px;
    top: 57px;
    z-index: -1;
}

.a-delay-05s {
    animation-delay: 0.5s !important;
}

.a-delay-1s {
    animation-delay: 1s !important;
}

.a-delay-15s {
    animation-delay: 1.5s !important;
}

.a-duration-15s {
    animation-duration: 1.5s !important;
}

.flip-v-right {
    -webkit-animation: flip-vertical-right 2s linear infinite both;
    animation: flip-vertical-right 2s linear infinite both;
}

.flip-v-left {
    -webkit-animation: flip-vertical-left 2s linear infinite both;
    animation: flip-vertical-left 2s linear infinite both;
}

.bg-head-gradient-layer-anim {
    animation: bgColorTransition 18s ease infinite;
    background: linear-gradient(-60deg, #427c9e, #5269ec, #3e7396, #6c6edf, #5699c6, #a575d4, #7d55a5, #6b4d89);
    background-size: 1600% 1600%;
    bottom:0;
    opacity:.4;
    position:absolute;
    top:0;
    z-index:-1;
    left: -50%;
    right: -50%;
    max-width: initial !important;
    width: initial !important;
}

.bg-head-anim { /* credits: Chris Smith */
    animation:slide 3s ease-in-out both infinite alternate;
    background-image: linear-gradient(-60deg, #3f779d 50%, #4b91b3 50%);
    bottom:0;
    opacity:.5;
    position:absolute;
    top:0;
    z-index:-2;
    left: -50%;
    right: -50%;
    max-width: initial !important;
    width: initial !important;
}

.bg-head-anim1 { /* credits: Chris Smith */
    animation-direction:alternate-reverse;
    animation-duration:4s;
    max-width: initial !important;
    width: initial !important;
}

.bg-head-anim2 { /* credits: Chris Smith */
    animation-duration:5s;
    max-width: initial !important;
    width: initial !important;
}

.shinfo {
    top: 248px;
    background: whitesmoke;
    z-index: 99;
}

.progtext {
    left: 10px;
    padding: 0.6rem;
    max-width: 95%;
}

.progress {
    height: auto;
}

#shdprogbar {
    cursor: pointer;
}

#loadingscr {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1061;
    background-color: rgba(0, 0, 0, 0.52);
}

.downloadque {
    top: 295px;
    position: relative;
}

#loadingscr > div {
    position: relative;
    top: 50%;
}

.text-darkyellow {
    color: #ad8610!important;
}

.text-lightgrey {
    color: #4a4949!important;
}

.bg-sharepoint1 {
    background-color: #026265;
    color: white;
}

.bg-sharepoint1:hover, .bg-sharepoint1:active, .bg-sharepoint1:focus {
    color: white !important;
    background-color: #025456 !important;
}

.bg-sharepoint2 {
    background-color: #375166 !important;
    color: white !important;
}

.bg-sharepoint3 {
    background-color: #404F63;
}

.bg-sharepoint4 {
    background-color: #6C737C;
}

.btn-light:hover {
    background-color: #1d1c1c !important;
    color: whitesmoke !important;
    border-color: rgb(48, 46, 46) !important;
}

.btn-disabled, .btn-disabled:hover, .btn-disabled:focus, .btn-disabled:active, .btn-disabled:visited {
    cursor: default;
    color: #4c4b4b !important;
    background-color: #cacaca !important;
    border-color: #bebebf !important;
    box-shadow: none !important;
}

.spinner-5x {
    width: 5rem;
    height: 5rem;
}

/*
    Animations
 */
@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

@keyframes bgColorTransition {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes flip-vertical-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}
@keyframes flip-vertical-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@-webkit-keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}
@keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}
