name: rolling-release

on:
  push:
    branches: ["main"]
    paths: ['**.js', '**.json']

  workflow_dispatch:

env:
  SHD_VER: '5.3.6'
  
jobs:
  linux-build:
    runs-on: ubuntu-latest

    outputs:
      linux_rel_id: ${{steps.linux_rel_id.outputs.artifact-id}}
      
    steps:
    - uses: actions/checkout@main
    
    - name: setup node
      uses: actions/setup-node@main
      with:
        node-version: 'latest'

    - name: build linux
      env:
          GH_TOKEN: ${{ secrets.GTOK }}
      run: |
        npm i
        npm run dist

    - name: upload release
      id: linux_rel_id
      uses: actions/upload-artifact@main
      with:
        name: sharedown-linux
        path: dist/sharedown-${{env.SHD_VER}}.AppImage
        retention-days: 1

  win-build:
    runs-on: windows-latest

    outputs:
      win_rel_id: ${{steps.win_rel_id.outputs.artifact-id}}
      
    steps:
    - uses: actions/checkout@main
    
    - name: setup node
      uses: actions/setup-node@main
      with:
        node-version: 'latest'

    - name: build win
      env:
          GH_TOKEN: ${{ secrets.GTOK }}
      run: |
        npm i
        npm run dist

    - name: upload release
      id: win_rel_id
      uses: actions/upload-artifact@main
      with:
        name: sharedown-win
        path: dist/sharedown-${{env.SHD_VER}}-win.7z
        retention-days: 1

  mac-build:
    runs-on: macos-latest

    outputs:
      mac_rel_id: ${{steps.mac_rel_id.outputs.artifact-id}}
      
    steps:
    - uses: actions/checkout@main
    
    - name: setup node
      uses: actions/setup-node@main
      with:
        node-version: 'latest'

    - name: build macos
      env:
          GH_TOKEN: ${{ secrets.GTOK }}
      run: |
        npm i
        npm run dist

    - name: upload release
      id: mac_rel_id
      uses: actions/upload-artifact@main
      with:
        name: sharedown-mac
        path: |
          dist/sharedown-${{env.SHD_VER}}-mac.7z
          dist/sharedown-${{env.SHD_VER}}-arm64-mac.7z
        retention-days: 1

  publish_release:
    runs-on: ubuntu-latest
    needs: [win-build, linux-build, mac-build]

    steps:
      - uses: actions/checkout@main

      - name: get release artifacts
        uses: actions/download-artifact@main
        with:
          artifact-ids: ${{needs.win-build.outputs.win_rel_id}},${{needs.linux-build.outputs.linux_rel_id}},${{needs.mac-build.outputs.mac_rel_id}}

      - name: remove old release
        env:
          GH_TOKEN: ${{ secrets.GTOK }}
          GH_REPO: ${{ github.repository }}
        run: gh release delete rolling -y
        continue-on-error: true

      - name: publish release
        env:
          GH_TOKEN: ${{ secrets.GTOK }}
          GH_REPO: ${{ github.repository }}
        run: >
          gh release create rolling
          "sharedown-linux/sharedown-${{env.SHD_VER}}.AppImage"
          "sharedown-win/sharedown-${{env.SHD_VER}}-win.7z"
          "sharedown-mac/sharedown-${{env.SHD_VER}}-mac.7z"
          "sharedown-mac/sharedown-${{env.SHD_VER}}-arm64-mac.7z"
          --draft=false
          --latest
          -t "Sharedown rolling builds"
          -n continuous builds
